<section class="section event" id="event">
   <div class="container">
   <h3 class="section__title event__heading graphcms-container">
      <span class="graphcms-container" data-id="claiua1rs98eu0at181isi0ie" data-content-type="c04bfcdd2eed47b880588f5506ed4f5a" data-id-alt="" data-content-type-alt=""> Helping developers to achieve career goals </span>
   </h3>
   <div class="event__text section__text">
      <span class="graphcms-container" data-id="claiuadld8v430atdssuyhyka" data-content-type="c04bfcdd2eed47b880588f5506ed4f5a" data-id-alt="" data-content-type-alt="">
         <p>Welcome to the conference about leadership and seniority in teams! 20 engineers, managers and HR from leading companies will give talks on topics as careers and soft skills. We'll discuss how to become more senior and get more influence in the company, get a promotion and achieve what you want in your career.</p>
         <p>Enjoy talks and Q&amp;As on March 9 from 4pm to 9pm CET. And join discussion rooms on March 10 from 4pm to 6pm CET. It's a remote event on both days.</p>
      </span>
   </div>
   <div class="event__techs-title">
      <span class="graphcms-container" data-id="claiu5oy793340ata9bybl4r4" data-content-type="c04bfcdd2eed47b880588f5506ed4f5a" data-id-alt="" data-content-type-alt="">
         <p>The following topics will be covered:</p>
      </span>
   </div>
   <ul class="techs">
      <li class="techs__item">
         <div class="techs__img-box">
         <img class="techs__img" alt="Career growth &amp; security" src="https://media.graphassets.com/output=format:png/resize=fit:crop,height:100/SX0AouTiTvCCBp3Gzjyo">
         </div>
         <p class="techs__title">Career growth &amp; security</p>
      </li>
      <li class="techs__item">
         <div class="techs__img-box">
         <img class="techs__img" alt="Mastering interviews" src="https://media.graphassets.com/output=format:png/resize=fit:crop,height:100/UgPdKqP9QKOS4EDQcJjD">
         </div>
         <p class="techs__title">Mastering interviews</p>
      </li>
      <li class="techs__item">
         <div class="techs__img-box">
         <img class="techs__img" alt="Soft skills" src="https://media.graphassets.com/output=format:png/resize=fit:crop,height:100/D5AQSLLvQ8aDMX9jL47X">
         </div>
         <p class="techs__title">Soft skills</p>
      </li>
      <li class="techs__item">
         <div class="techs__img-box">
         <img class="techs__img" alt="Team/tech leadership" src="https://media.graphassets.com/output=format:png/resize=fit:crop,height:100/t4SdzS2ET12jLy0pOeyz">
         </div>
         <p class="techs__title">Team/tech leadership</p>
      </li>
      <li class="techs__item">
         <div class="techs__img-box">
         <img class="techs__img" alt="Horizontal/Full-stack growth" src="https://media.graphassets.com/output=format:png/resize=fit:crop,height:100/kV9ypLhZQorCsTrwKrdK">
         </div>
         <p class="techs__title">Horizontal/Full-stack growth</p>
      </li>
   </ul>
   <div class="event__tip">
      <span class="graphcms-container" data-id="claiu6jzw8zr10bunbl0dlx91" data-content-type="c04bfcdd2eed47b880588f5506ed4f5a" data-id-alt="" data-content-type-alt="">
         <p>Want to know the rest? <a href="#contact-form">Follow us</a></p>
      </span>
   </div>
   </div>
</section>