<section class="section s-contact-form " id="contact-form">
   <div class="container">
      <div class="contact-form">
         <h3 class="contact-form__title">
            {{blocks.title}}
         </h3>
         
         <div class="contact-form__desc">
            {{blocks.description}}
         </div>
         <form class="contact-form__form" action="https://amsterdam.us13.list-manage.com/subscribe/post?u=910284f989b81c945f27311af&amp;id=70a763695e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate="">
            <div class="contact-form__field">
               <input class="contact-form__input" type="email" value="" name="EMAIL" id="mce-EMAIL" placeholder="Your@email" required="">
               <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_910284f989b81c945f27311af_70a763695e" tabindex="-1" value="">
               </div>
               <button class="contact-form__submit" type="submit" name="subscribe" id="mc-embedded-subscribe">
                  <span>Subscribe</span>
                  <img src="assets/img/arrow-right.svg" alt="">
               </button>
            </div>
         </form>
      </div>
   </div>
</section>