<header class="header js-header">
   <div class="header__inner js-menu">
      <div class="header__nav graphcms-container" data-id="claitye4h8znl0ata8u812qep" data-content-type="371641c28b044b00bf532b2dd6e1516d" data-id-alt="" data-content-type-alt="">
      <ul class="nav">
         <li class="nav__item"><a tabindex="1" href="#event" class="nav__link js-scroll-link">About</a></li>
         <li class="nav__item"><a tabindex="1" href="#speakers" class="nav__link js-scroll-link">Speakers</a></li>
         <li class="nav__item"><a tabindex="1" href="/schedule" class="nav__link js-scroll-link">Schedule</a></li>
         <li class="nav__item"><a tabindex="1" href="#workshops-list" class="nav__link js-scroll-link">Workshop</a></li>
         <li class="nav__item"><a tabindex="1" href="#sponsors" class="nav__link js-scroll-link">Sponsors</a></li>
         <li class="nav__item"><a tabindex="1" href="/faq" class="nav__link js-scroll-link">FAQ</a></li>
      </ul>
      </div>
      <div class="header__btn">
         <a tabindex="2" class="btn" href="#tickets">Tickets</a>
      </div>
   </div>

   <div class="header__burger">
      <div class="burger js-burger">
      <span></span>
      <span></span>
      <span></span>
      </div>
   </div>
</header>