<div class="hero hero_inner" id="hero" style="background-image:url(assets/img/jobs-bg.jpg);">
   <div class="hero__inner ">
      <div class="hero__logo">
         <a href="/" class="logo"><img src="assets/img/logo.svg"></a>
      </div>
      <h1 class="hero__title">{{blocks.title}}</h1>
   </div>
</div>