<section class="section s-speakers " id="speakers">
   <div class="container">
   <h3 class="section__title">
      {{blocks.title}}
   </h3>
   <div class="speakers-list">
      {% for speaker in blocks.speakers %}
      <div class="speakers-list__item">
         
         <div class="speaker">
            <div class="speaker__photo">
               <picture>
                  <img src="{{speaker.avatar}}" alt="">
               </picture>
            </div>
            <div class="speaker__name">{{speaker.name}}</div>
            <div class="speaker__company">{{speaker.company}}</div>
            <div class="speaker__talk">{{speaker.talk}}</div>
            <div class="speaker__desc">
               {{speaker.text}}
            </div>
         </div>
        
      </div>
       {% endfor %}

      {% if blocks.cfp %}
      <div class="speakers-list__item speakers-list__item_cfp">
         <p class="speaker__name">{{blocks.cfp.title}}</p>
         <p class="speaker__company">
         </p><p><a href="{{blocks.cfp.link.url}}">{{blocks.cfp.link.text}}</a></p>
         <p></p>
      </div>
      {% endif %}
   </div>
   </div>
</section>